<h2>Postagens</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-primary">Nova Postagem</button></a><br>

{{#each postagens}}
  <div class="card  mt-4">
    <div class="card-body">
      <h4>{{titulo}}</h4>
      <p>Descrição: {{descricao}}</p>
      <small>Data: {{data}}</small><br>
      <small>Categoria: {{categoria.nome}}</small><br>
      <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-4">Editar Categoria</button></a>
      <form action="/admin/postagens/deletar" method="post">
        <input type="hidden" name="id" value="{{_id}}">
        <button type="submit" class="btn btn-danger mt-2">Deletar Postagem</button>
      </form>
    </div>

  </div>
{{else}}
<br>
<p>Nenhuma postagem registrada</p>
{{/each}}
